$pink: #b44bb5;
$purple: #6622CA;
$green: #6CC052;
$black: #1d1d1d;

$brand: $pink;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

body {
  font-family: "futura-pt-bold", sans-serif;
  color: $brand;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  text-transform: uppercase;
}


a {
  color: $brand;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


.shade {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba(#000, 0.02);
  transform: skewY(-70deg);
  top: 390px;
  height: 780px;

  @media (min-width: $screen-sm) {
    transform: skewY(-50deg);
    top: 600px;
    height: 1000px;
  }
  @media (min-width: $screen-md) {
    transform: skewY(-50deg);
    top: 1000px;
    height: 1000px;
  }
}

.light {
  position: fixed;
  left: 0;
  right: 0;
  background: rgba($brand, 0.04);

  transform: skewY(15deg);
  height: 480px;
  top: 720px;

  @media (min-width: $screen-sm) {
    top: 1300px;
    transform: skewY(10deg);
    height: 1000px;
  }
}

.main {
  position: relative;
  z-index: 2;
  padding: 0 20px;
}

.header {
  animation: header-blur 500ms cubic-bezier(.45,.05,.55,.95);
  padding: 1px 0;
  margin: 70px 0;
  @media (min-width: $screen-sm) {
    margin: 150px 0;
  }
}

@keyframes header-blur {
  from {
    opacity: 0;
    filter: blur(50px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.header-logo-image {
  width: 175px;

  @media (min-width: $screen-sm) {
    width: 300px;
  }
  @media (min-width: $screen-md) {
    width: 487px;
  }
}

.header-logo-image-shape {
  fill: $black;
}

.header-logo-tagline {
  color: $brand;
  font-size: 18px;
  margin: 0;
  text-transform: none;

  @media (min-width: $screen-sm) {
    font-size: 35px;
  }
  @media (min-width: $screen-md) {
    font-size: 50px;
  }
}

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about-text {
  max-width: 550px;
  margin-right: 80px;

  @media (min-width: $screen-sm) {
    margin-right: 20px;
  }
}

.about-photo {
  position: absolute;
  right: -40px;
  top: 20px;

  @media (min-width: $screen-sm) {
    position: relative;
    right: auto;
    top: auto;
  }
}

.about-photo-image {
  width: 110px;

  border-radius: 50%;
  box-shadow: 0 0 150px rgba($brand, 0.15);

  @media (min-width: $screen-sm) {
    width: 200px;
  }
  @media (min-width: $screen-md) {
    width: 300px;
  }
}

.about-title {
  font-size: 14px;
  margin: 0;

  @media (min-width: $screen-sm) {
    font-size: 25px;
  }
  @media (min-width: $screen-md) {
    font-size: 30px;
  }
}

.about-copy {
  font-size: 18px;
  @media (min-width: $screen-sm) {
    font-size: 30px;
  }
  @media (min-width: $screen-md) {
    font-size: 40px;
  }
}

.work-wrapper {
  margin: 70px 0;
  @media (min-width: $screen-sm) {
    margin: 150px 0;
  }
  display: flex;
  justify-content: center;
}

.work {
}

.work-title {
  font-size: 14px;
  margin: 0;

  @media (min-width: $screen-sm) {
    font-size: 20px;
  }
}

.work-items-wrapper {
  display: flex;
}
.work-items {
}

.work-item {
  font-size: 16px;
  display: block;
  margin: 20px 0;
  margin-right: 40px;


  transition: text-shadow 500ms ease-out;

  &:hover {
    text-decoration: underline;
    text-shadow: 0 0 30px rgba($brand, 0.2);
  }

  @media (min-width: $screen-sm) {
    margin: 40px 0;
    font-size: 30px;
    margin-right: 80px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.clients {
  text-align: center;
  margin: 70px 0;

  @media (min-width: $screen-sm) {
    margin: 150px 0;
  }
}

.clients-photo {
  width: 250px;

  @media (min-width: $screen-sm) {
    width: 500px;
  }
  @media (min-width: $screen-md) {
    width: 619px;
  }
}


.contact-wrapper {
  margin: 70px 0;
  @media (min-width: $screen-sm) {
    margin: 150px 0;
  }
  display: flex;
  justify-content: center;
}

.contact {
}

.contact-title {
  font-size: 14px;
  @media (min-width: $screen-sm) {
    font-size: 20px;
  }
  margin: 0;
}

.contact-items {
  @media (min-width: $screen-sm) {
    display: flex;
  }
}

.contact-item {
  font-size: 16px;
  display: block;
  margin: 30px 0;

  @media (min-width: $screen-sm) {
    margin: 40px 0;
    margin-right: 80px;
    font-size: 25px;
  }
  @media (min-width: $screen-md) {
    margin: 40px 0;
    margin-right: 100px;
    font-size: 30px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.contact-item-line {
  margin: 10px 0;
}
