<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title[I18n.locale] || "Deeco" %></title>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "application", defer: true %>

    <script src="https://use.typekit.net/aaj7otw.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
  </head>
  <body class="bg-gray-900 m-0 overflow-x-hidden">


<div class="scene-layer-back">
  <div class="shade"></div>
</div>
<div class="scene-layer-front">
  <div class="light"></div>
</div>

<div class="z-20 relative px-5">
  <%= yield %>
</div>


  </body>
</html>
