---
title: Tak for din besked
---

<div class="container">
  <div id="thanks">
  <h1>Tak for din besked!</h1>

  <br>

  <p>Jeg vender hurtigst tilbage.<br>
    I mellemtiden kan du finde mig på twitter <a href="https://twitter.com/askehansen" target="_blank" rel="nofollow">@askehansen</a></p>
  </div>
</div>
